<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="/public/img/burgerIcon.png"> 
    <h1 class="display-4">Eat Da Buger</h1>
    <p class="lead">How many Burgers can you eat?</p>
    <form>
  <div class="form-group">
    <label for="newburger">Type of burger you would like</label>
    <input type="input" class="form-control" id="newburger" aria-describedby="Enter Burger">
    <small id="emailHelp" class="form-text text-muted"></small>
    {{!-- <button type="submit" class="create-form btn subBtn">Submit</button> --}}
    <button class="create-form button"><span>Buy</span></button>
</form>
  </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong></div>
            <div class="orderCol panel-body">

                <ul class="burgList">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                    <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

  
<div class="col-sm-6 float-right">
    <div class="panel panel-default">
        <div class="panel-heading" id="rightside"><strong>Devour the burgers</strong></div>
        <div class="orderCol panel-body">
              <ul class="burgList">
                    {{#each burgers}}
                    {{#if devoured}}
                    <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                    <button type="button" class="trashburger btn btn-warning" id="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                    {{/if}}
                    {{/each}}
                </ul>


        </div>
    </div>
</div>
</div>
